@model Thamarat.Domain.Entities.CashAccount

<h2 class="text-center mt-4">➕ تعديل حساب نقدي</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="form-group mb-3">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-success">💾 حفظ</button>
    <a asp-action="Index" class="btn btn-secondary">↩️ رجوع</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
